[Unit]
Description=Run backup job

[Timer]
OnBootSec=15min

# How often to run it
OnUnitActiveSec=1h
#OnUnitActiveSec=1d
#OnUnitActiveSec=1w

RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
